/* ./styles/globals.css */
@tailwind components;

body {
  font-family: "Roboto", sans-serif;
}
.overlay {
  @apply h-screen w-screen bg-black fixed top-0 left-0;
}
#dark .modal {
  @apply text-black;
}

#dark .overlay {
  @apply bg-opacity-20;
}

#light .modal {
  @apply text-white;
}

#light .overlay {
  @apply bg-opacity-50;
}

#dark {
  background-color: #021b2c;
  color: white;
}

#dark .header {
  color: white;
}

#dark .footer {
  @apply hover:bg-black hover:text-white;
}

#light {
  background-color: white;
  color: black;
}

#light .header {
  @apply text-gray-700;
}

#light .footer {
  @apply hover:bg-gray-200;
}
