@tailwind components;

@layer components {
    .tabMenu {
        @apply p-2 w-3/10 text-center;
    }
    .textarea {
        @apply resize-none h-28 w-9/10 mx-auto py-2 px-5 focus:outline-none text-gray-700 font-light focus:ring-1 focus:ring-darkblue border border-darkblue rounded-xl;
    }
    .tA2 {
        @apply h-12 !important;
    }
    .button {
        @apply bg-darkblue w-9/10 mx-auto text-center my-5 rounded-lg text-white py-1.5;
    }
    .walletIcon {
        @apply w-32 h-32 rounded-full !important;
        min-width: none;
        min-height:none;
        max-width:none;
        max-height:none;
    }
}
